@use '../abstracts/' as *;

/*===========================
  Header
===========================*/

/*===========================
  Navigation Bar
===========================*/

.empty {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: sticky;
  top: 0;

  height: 8rem;
  width: 100%;
  background-color: var(--clr-grayish-600);

  &__logo {
    height: 6rem;
    width: auto;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }

  &__link {
    padding: 1.5rem 0.75rem;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-brand-50);

    &:hover,
    &:focus {
      border-radius: 0.5rem;
      background-image: linear-gradient(to right, transparent, var(--clr-brand-700));

      color: var(--clr-brand-50);
    }

    &--selected {
      color: var(--clr-brand-50);
      border-radius: 0.5rem;
      background-color: var(--clr-brand-700);
    }
  }

  &__toggler {
    display: none;
    cursor: pointer;

    & > span {
      display: block;
      width: 2.5rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: rgb(204, 204, 204);
      transition: 0.3s ease-in;
    }
  }
}

@include breakpoint-down(md) {
  .empty {
    display: block;
  }

  .nav__toggler {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 8rem;
    right: 0;
    left: 0;
    bottom: auto;

    min-height: calc(60vh - 8rem);
    background-color: var(--clr-grayish-600);

    transform: translateY(0%);
    transition: 300ms ease;
  }
}

/* Active Class for dropdown-menu */
.nav__active {
  display: flex;
}

/* Toggle Icon Animation */
.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
}
