@use '../abstracts' as *;

/*===========================
  Header
===========================*/

.header {
  &__banner {
    position: relative;

    height: max(20vh, 180px);
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), $grayish-900),
      url('../../assets/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/*===========================
  Navigation Bar
===========================*/

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: sticky;
  top: 0;

  height: 8rem;
  background-color: #212121;

  &__logo {
    // position: absolute;
    // top: 0;
    // right: auto;
    // bottom: 0;
    // left: 0;
    // z-index: 1;

    margin: 1rem;
    height: calc(8rem - 2rem);
    width: auto;
  }

  &__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;

    position: absolute;
    top: 8rem;
    right: 0;
    left: 0;

    background-color: rgb(32, 33, 34);
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    color: $color-100;

    &:hover {
      color: $color-300;
      text-shadow: 0 0 8px $color-700;
    }

    &--selected {
      color: $color-800;

      &:hover {
        color: $color-700;
        text-shadow: 0 0 0.6em $color-700;
      }
    }
  }

  &__toggler {
    display: block;
    cursor: pointer;

    & > span {
      display: block;
      width: 2.5rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: rgb(204, 204, 204);
      transition: 0.3s ease-in;
    }
  }
}

@include breakpoint-up(md) {
  .nav__toggler {
    display: none;
  }

  .nav__menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    inset: 0;

    background-color: rgb(32, 33, 34);

    transform: translateY(0%);
    transition: 300ms ease;
  }
}

// @media screen and (max-width: 768px) {
//   .nav__toggler {
//     display: block;
//     cursor: pointer;
//   }

//   .nav__menu {
//     display: none;
//     flex-direction: column;

//     position: absolute;
//     top: 5vh;
//     right: 0;
//     left: 0;
//     // z-index: var.$zindex-dropdown;
//     background-color: rgb(32, 33, 34);

//     transform: translateY(0%);
//     transition: 300ms ease;
//   }
// }

/* Active Class for dropdown-menu */
.nav__active {
  display: flex;
}

/* Toggle Icon Animation */
.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
}
