@use '../abstracts' as *;

/*===========================
  Header
===========================*/

.header {
  &__banner {
    position: relative;

    height: max(20vh, 180px);
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), $grayish-900),
      url('../../assets/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    img {
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
      z-index: 1;

      margin: 1rem;
      height: calc(max(20vh, 180px) - 2rem);
      width: auto;
    }
  }
}

/*===========================
  Navigation Bar
===========================*/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: -webkit-sticky; // for Safari
  position: sticky;
  top: 0;

  height: 5vh;
  background-color: #212121;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    color: $color-100;

    &:hover {
      color: $color-300;
      text-shadow: 0 0 8px $color-700;
    }

    &--selected {
      color: $color-800;
    }

    &--selected:hover {
      color: $color-700;
      text-shadow: 0 0 0.6em $color-700;
    }
  }

  &__toggler {
    display: none;

    & > span {
      display: block;
      width: 2.5rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: rgb(204, 204, 204);
      transition: 0.3s ease-in;
    }
  }
}

@include mq(md) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 5vh;
    right: 0;
    left: 0;
    // z-index: var.$zindex-dropdown;
    background-color: rgb(32, 33, 34);

    transform: translateY(0%);
    transition: 300ms ease;
  }
}

// @media screen and (max-width: 768px) {
//   .nav__toggler {
//     display: block;
//     cursor: pointer;
//   }

//   .nav__menu {
//     display: none;
//     flex-direction: column;

//     position: absolute;
//     top: 5vh;
//     right: 0;
//     left: 0;
//     // z-index: var.$zindex-dropdown;
//     background-color: rgb(32, 33, 34);

//     transform: translateY(0%);
//     transition: 300ms ease;
//   }
// }

/* Active Class */
.nav__active {
  display: flex;
  transform: translateY(0%);
}

/* Toggle Icon Animation */
.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
}
