$colors: (
  brand: (
    50: hsl(90 53% 94%),
    100: hsl(88 51% 86%),
    200: hsl(88 50% 76%),
    300: hsl(88 50% 67%),
    400: hsl(88 50% 60%),
    500: hsl(88 50% 53%),
    600: hsl(89 46% 48%),
    700: hsl(92 48% 42%),
    800: hsl(95 49% 36%),
    900: hsl(103 56% 26%),
    A100: hsl(88 100% 78%),
    A200: hsl(88 100% 67%),
    A300: hsl(93 100% 51%),
    A400: hsl(97 81% 48%),
  ),
  grayish: (
    50: hsl(210 3% 76%),
    100: hsl(210 3% 66%),
    200: hsl(210 11% 71%),
    300: hsl(210 7% 56%),
    400: hsl(210 9% 31%),
    500: hsl(210 10% 23%),
    600: hsl(210 11% 15%),
    700: hsl(225 7% 11%),
    800: hsl(220 7% 8%),
    900: hsl(220 9% 7%),
  ),
  social: (
    facebook: hsl(208 92% 53%),
    instagram:
      linear-gradient(
        to top right,
        hsl(27 91% 56%),
        hsl(44 99% 73%),
        hsl(333 72% 52%),
        hsl(278 54% 45%),
        hsl(235 60% 57%)
      ),
    twitter: hsl(203 89% 53%),
    youtube: hsl(348 97% 39%),
    github: hsl(215 15% 16%),
  ),
);

$white: #ffffff;
$black: #000000;

$github: (
  background: hsl(215, 15%, 16%),
  heading: hsl(210, 19%, 73%),
  button: hsl(209, 16%, 72%),
  span: hsl(213, 10%, 38%),
);
