$colors: (
  brand: (
    50: hsl(90, 53%, 94%),
    100: hsl(88, 51%, 86%),
    200: hsl(88, 50%, 76%),
    300: hsl(88, 50%, 67%),
    400: hsl(88, 50%, 60%),
    500: hsl(88, 50%, 53%),
    600: hsl(89, 46%, 48%),
    700: hsl(92, 48%, 42%),
    800: hsl(95, 49%, 36%),
    900: hsl(103, 56%, 26%),
    A100: hsl(88, 100%, 78%),
    A200: hsl(88, 100%, 67%),
    A300: hsl(93, 100%, 51%),
    A400: hsl(97, 81%, 48%),
  ),
  dark: (
    50: hsl(225, 3%, 76%),
    100: hsl(228, 3%, 66%),
    200: hsl(220, 3%, 58%),
    300: hsl(222, 5%, 38%),
    400: hsl(220, 8%, 23%),
    500: hsl(223, 7%, 19%),
    600: hsl(230, 8%, 16%),
    700: hsl(225, 7%, 11%),
    800: hsl(220, 7%, 8%),
    900: hsl(220, 9%, 7%),
  ),
  grayish: (
    50: hsl(210, 17%, 98%),
    100: hsl(210, 17%, 95%),
    200: hsl(210, 16%, 93%),
    300: hsl(210, 14%, 89%),
    400: hsl(210, 14%, 83%),
    500: hsl(210, 11%, 71%),
    600: hsl(210, 7%, 56%),
    700: hsl(210, 9%, 31%),
    800: hsl(210, 10%, 23%),
    900: hsl(210, 11%, 15%),
  ),
);
