// Color palette: Turtle

$color-50: #f0f8e8;
$color-100: #dcedc8;
$color-200: #c5e1a5;
$color-300: #aed581;
$color-400: #9ccc65;
$color-500: hsl(88, 50%, 53%);
$color-600: #7cb342;
$color-700: #689f38;
$color-800: #558b2f;
$color-900: #32671d;

$color-A100: #ccff90;
$color-A200: #b2ff59;
$color-A400: #76ff03;
$color-A700: #64dd17;

$white: #ffffff;
$black: #000000;

$grayish-50: #fafafa;
$grayish-100: #f5f5f5;
$grayish-200: #eeeeee;
$grayish-300: #e0e0e0;
$grayish-400: #bdbdbd;
$grayish-500: #9e9e9e;
$grayish-600: #757575;
$grayish-700: #616161;
$grayish-800: #424242;
$grayish-900: #212121;

// Typography
$font-family: 'Ubuntu', sans-serif;

// Media Queries breakpoints
// xs - Extra small devices (portrait phones, less than 576px)
// No media query since this is the default

// sm - Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { /* styles  */ }

// md - Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { /* styles  */ }

// lg - Large devices (desktops, 992px and up)
// @media (min-width: 992px) { /* styles  */ }

// xl - Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { /* styles  */ }

//320
//768
//1024
//1440

// xs 0
// sm 576
// md 768
// lg 992
// xl 1200
// xxl 1440

// Animations Effects
$speed: 300ms;

// Overlay

$zindex-dropdown: 100;
$zindex-sticky: 200;
$zindex-fixed: 300;
$zindex-modal-backdrop: 400;
$zindex-modal: 500;
$zindex-popover: 600;
$zindex-tooltip: 700;
