.home__layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#section1 {
  background-color: sandybrown;
  min-height: 120vh;
}

#section2 {
  // flex-grow: 1;
  background-color: blueviolet;
  min-height: 120vh;
}

footer {
  background-color: aquamarine;
  height: 200px;
}