*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --clr-brand-50: hsl(90deg, 53%, 94%);
  --clr-brand-100: hsl(88deg, 51%, 86%);
  --clr-brand-200: hsl(88deg, 50%, 76%);
  --clr-brand-300: hsl(88deg, 50%, 67%);
  --clr-brand-400: hsl(88deg, 50%, 60%);
  --clr-brand-500: hsl(88deg, 50%, 53%);
  --clr-brand-600: hsl(89deg, 46%, 48%);
  --clr-brand-700: hsl(92deg, 48%, 42%);
  --clr-brand-800: hsl(95deg, 49%, 36%);
  --clr-brand-900: hsl(103deg, 56%, 26%);
  --clr-brand-A100: hsl(88deg, 100%, 78%);
  --clr-brand-A200: hsl(88deg, 100%, 67%);
  --clr-brand-A300: hsl(93deg, 100%, 51%);
  --clr-brand-A400: hsl(97deg, 81%, 48%);
  --clr-dark-50: hsl(225deg, 3%, 76%);
  --clr-dark-100: hsl(228deg, 3%, 66%);
  --clr-dark-200: hsl(220deg, 3%, 58%);
  --clr-dark-300: hsl(222deg, 5%, 38%);
  --clr-dark-400: hsl(220deg, 8%, 23%);
  --clr-dark-500: hsl(223deg, 7%, 19%);
  --clr-dark-600: hsl(230deg, 8%, 16%);
  --clr-dark-700: hsl(225deg, 7%, 11%);
  --clr-dark-800: hsl(220deg, 7%, 8%);
  --clr-dark-900: hsl(220deg, 9%, 7%);
  --clr-grayish-50: hsl(210deg, 17%, 98%);
  --clr-grayish-100: hsl(210deg, 17%, 95%);
  --clr-grayish-200: hsl(210deg, 16%, 93%);
  --clr-grayish-300: hsl(210deg, 14%, 89%);
  --clr-grayish-400: hsl(210deg, 14%, 83%);
  --clr-grayish-500: hsl(210deg, 11%, 71%);
  --clr-grayish-600: hsl(210deg, 7%, 56%);
  --clr-grayish-700: hsl(210deg, 9%, 31%);
  --clr-grayish-800: hsl(210deg, 10%, 23%);
  --clr-grayish-900: hsl(210deg, 11%, 15%);
}

html {
  scroll-behavior: smooth;
}

.home__layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#section1 {
  background-color: sandybrown;
  min-height: 120vh;
}

#section2 {
  background-color: blueviolet;
  min-height: 120vh;
}

footer {
  background-color: aquamarine;
  height: 200px;
}

/*===========================
  Header
===========================*/
.header__banner {
  position: relative;
  height: max(20vh, 180px);
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #212121), url("../../assets/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__banner img {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 1rem;
  height: calc(max(20vh, 180px) - 2rem);
  width: auto;
}

/*===========================
  Navigation Bar
===========================*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5vh;
  background-color: #212121;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__link {
  text-transform: uppercase;
  font-weight: 700;
  color: #dcedc8;
}
.nav__link:hover {
  color: #aed581;
  text-shadow: 0 0 8px #689f38;
}
.nav__link--selected {
  color: #558b2f;
}
.nav__link--selected:hover {
  color: #689f38;
  text-shadow: 0 0 0.6em #689f38;
}
.nav__toggler {
  display: none;
}
.nav__toggler > span {
  display: block;
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media only screen and (min-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5vh;
    right: 0;
    left: 0;
    background-color: rgb(32, 33, 34);
    transform: translateY(0%);
    transition: 300ms ease;
  }
}
/* Active Class */
.nav__active {
  display: flex;
  transform: translateY(0%);
}

/* Toggle Icon Animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}