:root {
  --clr-brand-50: hsl(90deg, 53%, 94%);
  --clr-brand-100: hsl(88deg, 51%, 86%);
  --clr-brand-200: hsl(88deg, 50%, 76%);
  --clr-brand-300: hsl(88deg, 50%, 67%);
  --clr-brand-400: hsl(88deg, 50%, 60%);
  --clr-brand-500: hsl(88deg, 50%, 53%);
  --clr-brand-600: hsl(89deg, 46%, 48%);
  --clr-brand-700: hsl(92deg, 48%, 42%);
  --clr-brand-800: hsl(95deg, 49%, 36%);
  --clr-brand-900: hsl(103deg, 56%, 26%);
  --clr-brand-A100: hsl(88deg, 100%, 78%);
  --clr-brand-A200: hsl(88deg, 100%, 67%);
  --clr-brand-A300: hsl(93deg, 100%, 51%);
  --clr-brand-A400: hsl(97deg, 81%, 48%);
  --clr-grayish-50: hsl(210deg, 3%, 76%);
  --clr-grayish-100: hsl(210deg, 3%, 66%);
  --clr-grayish-200: hsl(210deg, 11%, 71%);
  --clr-grayish-300: hsl(210deg, 7%, 56%);
  --clr-grayish-400: hsl(210deg, 9%, 31%);
  --clr-grayish-500: hsl(210deg, 10%, 23%);
  --clr-grayish-600: hsl(210deg, 11%, 15%);
  --clr-grayish-700: hsl(225deg, 7%, 11%);
  --clr-grayish-800: hsl(220deg, 7%, 8%);
  --clr-grayish-900: hsl(220deg, 9%, 7%);
  --clr-social-facebook: hsl(208deg, 92%, 53%);
  --clr-social-instagram: linear-gradient(to top right, hsl(27deg, 91%, 56%), hsl(44deg, 99%, 73%), hsl(333deg, 72%, 52%), hsl(278deg, 54%, 45%), hsl(235deg, 60%, 57%));
  --clr-social-twitter: hsl(203deg, 89%, 53%);
  --clr-social-youtube: hsl(348deg, 97%, 39%);
  --clr-social-github: hsl(215deg, 15%, 16%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ol,
ul {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.home__layout {
  margin: auto;
  min-height: 100vh;
  max-width: 1440px;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 8rem);
  background-image: linear-gradient(to left, rgba(107, 122, 150, 0.6), rgba(163, 191, 224, 0.6)), url("../../assets/images/tablet.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sponsorship {
  background-color: blueviolet;
  min-height: 100vh;
}

/*===========================
  Header
===========================*/
/*===========================
  Navigation Bar
===========================*/
.empty {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 8rem;
  width: 100%;
  background-color: var(--clr-grayish-600);
}
.nav__logo {
  height: 6rem;
  width: auto;
}
.nav__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.nav__link {
  padding: 1.5rem 0.75rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-brand-50);
}
.nav__link:hover, .nav__link:focus {
  border-radius: 0.5rem;
  background-image: linear-gradient(to right, transparent, var(--clr-brand-700));
  color: var(--clr-brand-50);
}
.nav__link--selected {
  color: var(--clr-brand-50);
  border-radius: 0.5rem;
  background-color: var(--clr-brand-700);
}
.nav__toggler {
  display: none;
  cursor: pointer;
}
.nav__toggler > span {
  display: block;
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 768px) {
  .empty {
    display: block;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    right: 0;
    left: 0;
    bottom: auto;
    min-height: calc(60vh - 8rem);
    background-color: var(--clr-grayish-600);
    transform: translateY(0%);
    transition: 300ms ease;
  }
}
/* Active Class for dropdown-menu */
.nav__active {
  display: flex;
}

/* Toggle Icon Animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.footer {
  background-color: aquamarine;
  height: 200px;
}