/*===========================
  Color palette: Turtle
===========================*/

$color-50: #F1F8E9;
$color-100: #DCEDC8;
$color-200: #C5E1A5;
$color-300: #AED581;
$color-400: #9CCC65;
$color-500: #8BC34A;
$color-600: #7CB342;
$color-700: #689F38;
$color-800: #558B2F;
$color-900: #33691E;

$color-A100: #CCFF90;
$color-A200: #B2FF59;
$color-A400: #76FF03;
$color-A700: #64DD17;

/*===========================
  Typography
===========================*/

$font-family: 'Roboto', sans-serif;