@import '../../styles/variables';

.header {

  &__banner {
    background: linear-gradient(180deg, #689F38 10%, #212121);
    height: 20vh;

    // background-image: url('../../assets/banner.png');
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    
    img {
      margin: 1rem;
      height: calc(20vh - 2rem);
      max-width: auto;
    }
  }
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  background-color: #212121;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    color: $color-100;
  
    &--selected {
      color: blue;
    }
  }

  &__toggler {
    display: none;
  
    & > div {
      width: 2.5rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: rgb(204, 204, 204);
      transition: 0.3s ease-in;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background-color: rgb(32, 33, 34);
    flex-direction: column;
    transform: translateX(100%);
    transition: 300ms ease-in;
  }
}

/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle {
  .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
}
