@use '../../styles/variables' as var;

.header {

  &__banner {
    position: relative;

    height: max(20vh, 180px);
    width: 100%;
    background-image: url('../../assets/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    &::after {
      content: '';
      position: absolute;
      
      height: max(20vh, 180px);
      width: 100%;
      background-image: linear-gradient(to bottom, var.$color-700, var.$grayish-900 80%);
      opacity: 0.5;
    }

    // &:hover::after {
    //   opacity: 0;
    // }


    img {
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
      z-index: 1;

      margin: 1rem;
      height: calc(max(20vh, 180px) - 2rem);
      width: auto;
    }
  }
}

/*===========================
  Navigation Bar
===========================*/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: -webkit-sticky; // for Safari
  position: sticky;
  top: 0;

  height: 5vh;
  background-color: #212121;

  &__relative {
    position: relative;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    color: var.$color-100;
  
    &--selected {
      color: var.$color-900;
    }
  }

  &__toggler {
    display: none;
  
    & > div {
      width: 2.5rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: rgb(204, 204, 204);
      transition: 0.3s ease-in;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  
  .nav__menu {
    flex-direction: column;

    position: absolute;
    top: 5vh;
    right: 0;
    left: 0;
    // z-index: var.$zindex-dropdown;
    background-color: rgb(32, 33, 34);

    transform: translateY(100%);
    transition: 300ms ease-in;
  }
}

/* Active Class */
.nav__active {
  transform: translateY(0%);
}

/* Toggle Icon Animation */

.toggle {
  .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
}
